:root {
    --base-bg-color-00: white;
    --base-bg-color-01: antiquewhite;
    --base-text-color-00: rgb(70, 59, 46);
    --base-text-color-01: rgb(43, 43, 43);
    --base-text-color-02: white;

    --text-color-jdh: #B45518;
    --text-color-lo: #425C90;

    --height-title: 94vh;
}

/* GENERAL */

html {
    min-width: 1200px;
}

body {
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

body,
div,
p,
h1,
h2,
nav,
li,
ul,
button,
a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
}

.div__general_display {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 5rem;
    position: sticky;
    top: 0px;
    background-color: var(--base-bg-color-00);
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2);
    /*
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    */
    font-size: 21px;
    z-index: 1000;
}

.header__container {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
}

.cursor_pointer {
    cursor: pointer;
}

.indent {
    text-indent: 50px;
}

p {
    margin: 0px;
}

.sidepage-margin {
    margin: 0% 15%;
}

footer {
    text-align: center;
}

li {
    margin: 0 1rem;
}

/* DETAILS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.load_anim::before {
    content: '';
    background-color:  var(--base-bg-color-00);
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    width: 182vh;
    height: 100%;
    z-index: 1001;
    animation: identifier .5s ease-in-out;
}

@keyframes identifier {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.div__container_buttons {
    height: var(--height-title);
    overflow: hidden;
    background: linear-gradient(var(--angle), rgb(167, 199, 231), rgb(250, 200, 152));
    animation: 15s spin linear infinite;
}

@keyframes spin {
    from {--angle: 0deg}
    to{--angle: 360deg}
}

.div__back_text {
    height: var(--height-title);
    position: absolute;
    font-size: 5vh;
    opacity: 0.2;
    text-align: justify;
    filter: blur(0.8vh);
    overflow: hidden;
    min-width: 1200px;
    z-index: 0;
}

.p__move_title_text {
    user-select: none;
    cursor: default;
    animation: move_title_text 20s linear infinite alternate;
}

@keyframes move_title_text {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-25%);
    }
}

.div__background_text {
    width: 70%;
    position: absolute;
    top: 100px;
}

.div__container_top {
    display: flex;
    align-items: end;
    height: 60%;
}

.div__aling_buttons {
    display: flex;
    height: 40%;
    align-items: start;
}

.div__description {
    width: 100%;
    height: 20rem;
    text-align: center;
    align-content: center;
    margin: 1rem;
    padding: 1rem 8rem;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
    background-color: var(--base-bg-color-00);
    /* border-color: rgb(226, 203, 175); */
    /* border-style: solid; */
    backdrop-filter: blur(1.5vh);
    border-radius: 1rem;
    z-index: 2;
}

.span__jdh_color, .span__lo_color {
    color: var(--base-text-color-01);
    transition: .2s;
}

.span__jdh_color:hover {
    user-select: none;
    color: var(--text-color-jdh);
}

.span__lo_color:hover {
    user-select: none;
    color: var(--text-color-lo);
}

.div__description h1 {
    color: var(--base-text-color-01);
    font-size: 3rem;
    margin-bottom: 1rem;
}

.div__description p {
    color: var(--base-text-color-01);
    font-size: 1.2rem;
}

.div__button_chapters a,
.div__button_Extra_chapters a {
    display: block;
    height: 100%;
    align-content: center;
}

.div__button_chapters,
.div__button_Extra_chapters {
    width: 50%;
    height: 8rem;
    margin: 1rem;
    display: block;
    user-select: none;
    text-align: center;
    font-size: 1.3rem;
    background-color: var(--base-bg-color-00);
    border-color: var(--base-bg-color-00);
    border-style: solid;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 2;
    transition: 0.3s;
}

.div__button_chapters h1,
.div__button_Extra_chapters h1 {
    color: var(--base-text-color-01);
}

.div__button_chapters:hover,
.div__button_Extra_chapters:hover {
    cursor: pointer;
    /* background-color: var(--base-bg-color-01); */
    background-color: transparent;
    backdrop-filter: blur(1.5vh);
    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    width: 100%;
}

.div__button_chapters:hover h1,
.div__button_Extra_chapters:hover h1 {
    color: var(--base-text-color-02);
}

.div__button_chapters:hover~.div__button_Extra_chapters {
    filter: blur(.2vh);
    opacity: 0.4;
}

.div__button_chapters:has(~ .div__button_Extra_chapters:hover) {
    filter: blur(.2vh);
    opacity: 0.4;
}


.chapter-text {
    font-size: 25px;
    text-align: justify;
}

.ul__navbar {
    display: flex;
    align-items: center;
}

.div__newchapters {
    display: flex;
}

.div__blocknewchapter {
    width: 34%;
}