/* GENERAL */

html {
    min-width: 1280px;
}

body, div, p, h1, h2, nav, li, ul, button, a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
}

.div__general_display {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 5rem;
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 21px;
}

.cursor_pointer {
    cursor: pointer;
}

.indent {
    text-indent: 50px;
}

p {
    margin: 0px;
}

.sidepage-margin {
    margin: 0% 15%;
}

footer {
    text-align: center;
}

li {
    margin: 0 1rem;
}

/* details */

.div__block_buttons {
    position: relative;
    width: 100%;
    height: 10rem;
    cursor: pointer;
}

.div__button {
    width: 100%;
    height: 5rem;
    margin: 1rem;
    text-align: center;
    align-content: center;
    background-color: white;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
}

.chapter-text {
    font-size: 25px;
    text-align: justify;
}

.ul__navbar {
    display: flex;
    align-items: center;
}

.div__newchapters {
    display: flex;
}

.div__blocknewchapter {
    width: 34%;
}